$cerulean = #0C7691
$nice = #E7F0F2
$deepSea = #06333F

.headerNavigation
  padding: 0.6rem
  width: 100%
  background-color: $cerulean

  a
    display: inline-block

    .title
      display: inline-block
      margin: 0
      color: $nice
      font-size: 2rem
      text-shadow: 0 -2px 1px rgba($deepSea, 0.9)

