<!DOCTYPE html>
<html>
  <head>
    <title>UpcaseBookReview</title>
    <%= csrf_meta_tags %>
    <%= render "layouts/styles" %>
  </head>
  <body>
    <%= yield %>
    <%= render "layouts/scripts" %> 
  </body>
</html>
