<!DOCTYPE html>
<html>
  <head>
    <title>UpcaseBookReview</title>
    <%= csrf_meta_tags %>
    <%= render "layouts/styles" %>
  </head>
  <body>
    <div class="page-wrapper">
      <div class="page-content">
        <%= yield %>
      </div>
    </div>

    <%= render "layouts/scripts" %> 
  </body>
</html>
