<!DOCTYPE html>
<html>
  <head>
    <title>UpcaseBookReview</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/core.css">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    <script type="text/javascript" src="/assets/scripts/core.js"></script>
  </body>
</html>
